<div id="skillContainer">
  <%= react_component 'Skills', {allSkills: @all_skills,userSkills: @user_skills} %>
     <br />add portfolio or multimedia to pass
     <br />no info will be shared with client
  <br />  common portfolio link
  <br />max 5 mb
    <br />on click form
      <br />classify skills by color
        <br />need suggestions
          <br />handle autocomplete when updating for anguage and skill Component
</div>
